name: mikan
description: mikanani.me

version: 1.1.4+64

publish_to: none

environment:
  sdk: ">=3.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.13.0
  firebase_analytics: ^10.4.1
  firebase_crashlytics: ^3.3.1
  path_provider: ^2.0.15
  dio: ^5.1.2
  dio_cookie_manager: ^3.0.0
  html: ^0.15.3
  provider: ^6.0.5
  oktoast: ^3.3.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  clipboard: ^0.1.3
  url_launcher: ^6.1.11
  share_plus: ^7.0.1
  flutter_widget_from_html_core: ^0.10.0
  extended_sliver: ^2.1.3
  waterfall_flow: ^3.0.2
  jiffy: ^6.1.0
  android_intent_plus: ^4.0.0
  connectivity_plus: ^4.0.0
  ff_annotation_route_core: ^2.0.7
  ff_annotation_route_library: ^3.0.0
  sliver_tools: ^0.2.10
  flutter_displaymode: ^0.6.0
  flex_color_picker: ^3.2.2
  intl: ^0.18.1
  collection: ^1.17.0
  json_annotation: ^4.8.1
  path: ^1.8.2
  cookie_jar: ^4.0.2
  async: ^2.10.0
  auto_size_text: ^3.0.0
  easy_refresh: ^3.3.2+1
  window_manager: ^0.3.2
  dynamic_color: ^1.6.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  args: ^2.4.1
  yaml: ^3.1.2
  glob: ^2.1.1
  http: ^0.13.6
  process_run: ^0.13.0
  build_runner: ^2.3.3
  json_serializable: ^6.6.2
  hive_generator: ^2.0.0
  flutter_lints: ^2.0.1
  icons_launcher: ^2.1.0
  quiver: ^3.2.1

flutter:
  uses-material-design: true
  assets:
    - assets/
  fonts:
    - family: mono
      fonts:
        - asset: assets/fonts/mono/JetBrainsMono-Regular.ttf
        - asset: assets/fonts/mono/JetBrainsMono-Bold.ttf

icons_launcher:
  image_path: 'assets/mikan.png'
  platforms:
    android:
      enable: false
    ios:
      enable: true
    macos:
      enable: true
    windows:
      enable: true
    linux:
      enable: true

